.footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    background: lime;
    height: 12vh;
    padding-top: 4.5vh;
    padding-bottom: 3vh;
    width: 100%;
    letter-spacing: 5px;
}

@media screen and (max-width: 500px){
    .footer{
    padding-top: 3vh;
    padding-bottom: 3vh;
}
}